/* positionnement de la section Activités sur la page */
.s-activites {
    margin: 20px 2% 0 2%;
    display: flex;
    flex-direction: column;/*
    border: 2px dashed red;
    */
}

/* particularité du titre de la section Activités, Section comprenant titre + bloc global des cartes (rouge)*/
/*
.titre_section--activites {
    border: 2px dotted red;
}*/

/* particularités du bloc regroupant l'ensemble des cartes (vert) */
.s-activites__b-activites {
    display: flex;
    padding: 0px;
    margin: 0;/*
    background-color: red;
    border: 2px dashed green;
    */
}

/* particularités du bloc regroupant 1 carte ou 2 cartes (marron)*/
.b-activites__bloc-quart-activites {
    width: 24%;
    margin: 0 ;
    /*
    border: 2px solid brown;
    background-color: blueviolet;
    */
}

/* particularités du bloc article présentant la carte élémentaire (bleu) */
.bloc-quart-activites__article {
    background-color: white;/*
    border: 2px solid grey;*/
    height: 700px;
    width: 100%;  
    box-shadow: 0px 5px 10px #F2F2F2;/*
    display: flex;
    */
}

.bloc2 {
    margin: 0 1%;
}

.bloc3 {
    margin-right: 1%;
}

.carte-bas {
    margin-top: 20px;
}

/* picture : bloc photo de la carte activite  (jaune) */
.bloc-quart-activites__img {
    height: 650px;
    width: 100%;
    /*
    padding: 0 2% 0 2%;
    border: 2px dotted  blue;
    */
}
/* particularités de l'image sur une colonne photo de la carte activite */
.bloc-quart-activites__img--X {
    width: 100%;
    height:650px;
    align-items: center;
    object-fit: cover; 
}

/* particularités du libellé de la carte activité */
.bloc-quart-activites__label {
    display: inline-block;
    margin-left: 20px;
    font-weight: bold;
    font-size: 15px;
    /*
    border: 2px double purple;*/
}

/* particularités du bloc article présentant 1 card-50 sur 1/2 marron (bleu petit) */

.bloc-quart-activites__article--demi {
    background-color: white;
    box-shadow: 0px 5px 10px #F2F2F2;
    /*
    border: 2px double grey;
    */
}
.card-50--haut{
    height: 350px;
}

.card-50--bas{
    height: 350px;
}

.card-40--haut {
    margin-bottom: 100px;
    height: 250px;
}

.card-40--bas {
    margin-top: 100px;
    height: 250px;
}



/* bloc photo de la carte activite sur 1/2 hauteur picture (purple)*/
.bloc-quart-activites__img--demi {
    height: 300px;
    width: 100%;
    /*
    border: 2px double purple;
    flex-direction: column;   
    */
}

.card-40--bas .bloc-quart-activites__img--demi  {
    height: 200px;
}

.card-40--haut .bloc-quart-activites__img--demi  {
    height: 200px;
}

/* photo de la carte activite sur 1/2 hauteur : particularités de l'image sur une demi colonne */
.bloc-quart-activites__img--S {
    width: 100%;
    height:300px;
    align-content: center;
    object-fit: cover;/*
    padding: 0 2%;*/
}

.card-40--bas .bloc-quart-activites__img--S  {
    height: 200px;
}

.card-40--haut .bloc-quart-activites__img--S  {
    height: 200px;
}


/*   > 992 px : écran d'ordinateur */
@media screen and (min-width: 992px)      
{

}
/************************************************/



