/* section comprenant le bloc hébergement et le bloc des populaires (aside) */
.s-hebergements {
    margin: 20px 0% 0 2%;
}

/* bloc titre + bloc des cartes hotels fond gris bords arrondis décalé + "afficher plus" */
.b-hebergements {
    padding: 2% 0 2% 2%;
}

/* Particularité pour le titre de la section */
.titre_section--hebergements {
    border: 2px solid red;
}

/* bloc des cartes hotels */
.b-card-hebergements {
    border: 2px dotted green;
}

/* carte d'un hotel fond blanc, bords arrondis : img = nom - prix - étoiles */
.b-card-hebergements__hotel {
    background-color: white;
    width: 30%; 
    margin : 2% 3% 2% 0;/*espacement entre les card */     
    display: flex;
    height: 270px;
    border: 2px dashed pink;
}

/* bloc "Afficher plus" */
.b-card-hebergements__plus {
    padding-top: 20px;
    border: 2px solid blue;
}

.b-card-hebergements__plus--param {
    font-size: 15px;
    font-weight: bold;
}
/***************************************************************/
/* --------------- HEBERGEMENTS + ASIDE -------------------       */





/* ----- Ensemble des cartes Hébergements  -------------       */
.S-Hebergements {/*
    border: 2px dashed red;*/
    display: flex;
    flex-direction: row;
    margin: 50px 40px 0 80px;
}

/*Bloc Hebergement à Marseilles (vert) Titre + Bloc Cartes*/
.B-Hebergements {
    display: flex;
    flex-direction: column;/*
    border: 2px solid Green;*/
    padding: 00px;
    margin-right: 20px;
    background-color: #F2F2F2;
 }
    

/*Bloc ensemble des cartes (bleu) */
.B-Card-Hebergements {
    display: flex;/*
    border: 2px solid blue;*/
    flex-wrap: wrap;
    background-color: #F2F2F2;
    margin-left: 50px;
    margin-right: 0;
    padding-right: 0;
}
.TitreSection {
    margin-left: 60px;
}
/* --------------- Card  -------------------       */
/* Ensemble Fond + image + Textes + étoiles  */

.B-Card-Hebergements__Card-img{/*
    border: 2px dashed green;*/
    width: 100%;
    padding: 3%;
    height: 200px;
    display: flex;
    
}
.B-Card-Hebergements__Card-img-param {
    display: block;
    align-content: center;
    width: 100%;
    height: 200px;
    object-fit: cover; 
}

/* Ensemble Textes + Etoiles */
.B-Card-Hebergements__Card-infos {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: flex-start;
    margin-left : 8px;/*
    border: 4px double purple;*/
}

.Card-infos__name--hotel {
    font-size: 28px;
    font-weight: bold;
    padding : 5px 0 5px 0;
    margin: 0;
}

.Card-infos__price--heb {
    font-size: 20px;
    padding: 5px 0 5px 0;
}

.B-Card-Hebergements__Card-infos-star {
    display: flex;
    width: 100%;/*
    border: 2px dashed greenyellow;*/
    height: 20%;
}
.B-Card-Hebergements__plus{
    margin: 60px;
}

.B-Card-Hebergements__plus--param {
    font-size: 30px;
    font-weight: bold;
}