/* section comprenant le bloc hébergement et le bloc des populaires (aside) */
.s-hebergements {
    margin: 20px 0% 0 2%;
}

/* bloc titre + bloc des cartes hotels fond gris bords arrondis décalé + "afficher plus" */
.b-hebergements {
    padding: 2% 0 2% 2%;
}

/* Particularité pour le titre de la section */
.titre_section--hebergements {
    border: 2px solid red;
}

/* bloc des cartes hotels */
.b-card-hebergements {
    border: 2px dotted green;
}

/* carte d'un hotel fond blanc, bords arrondis : img = nom - prix - étoiles */
.b-card-hebergements__hotel {
    background-color: white;
    width: 30%; 
    margin : 2% 3% 2% 0;/*espacement entre les card */     
    display: flex;
    height: 270px;
    border: 2px dashed pink;
}


/* picture */
.b-card-hebergements__card-img {
    width: 100%;
    height: 160px;
}

/* img bords haut arrondis */
.b-card-hebergements__card-img-param {
    display: block;
    width: 100%;
    margin: 1%;
    height: 100%;
    object-fit: cover;
}

/* bloc informations de la carte : libelle, prix, appréciation :  */
.b-card-hebergements__card-infos {
    margin: 1%;
    border: 4px double purple;
}

/* paramètres des libellé, prix et étoiles dans le css général *//*

/* bloc "Afficher plus" */
.b-card-hebergements__plus {
    padding-top: 20px;
    border: 2px solid blue;
}

.b-card-hebergements__plus--param {
    font-size: 15px;
    font-weight: bold;
}
