header {
    margin: 60px 2% 0 2%;
    /*
    border: 2px solid red;
    */
}


nav ul {
   justify-content: flex-end; /*positionner à droite les deux li*/
   margin-right: 20px;
   margin: 0 ;
/*
   border: 2px dashed blue;*/
}

nav li {
    align-items: center;
    justify-content: center;
    padding: 30px 0px 30px 0px;
    text-align: center;
/*
    border: 2px solid purple;
*/
  }

.menu a {
    display: inline-block;
    font-size: 15px;
    margin-left : 2px;
    margin-right: 2px;
    max-width: 90%;
/*
    border: 2px dashed blueviolet;
*/
}

/*   > 992 px : écran d'ordinateur */
@media screen and (min-width: 992px)      
{
/* position du logo en haut à gauche */
    .header__logo {
        width: 20%;
        padding: 3% 0 ;
    }

/* effets au survol de la souris version desktop*/
    nav li:hover {
        border-top: 4px solid #0065FC;
    }

/* positionnement des menus version desktop */
    .menu {
        display: block;
        width: 30%;
    }
}