/* section comprenant le bloc hébergement et le bloc des populaires (aside) */
.s-hebergements {
    margin: 20px 0 0 2%;
}

/* bloc titre + bloc des cartes hotels fond gris bords arrondis décalé + "afficher plus" */
.b-hebergements {
    padding: 10px 10px 10px 30px;
}

/* Particularité pour le titre de la section *//*
.titre_section--hebergements {
    border: 2px solid red;
}*/

/* bloc des cartes hotels *//*
.b-card-hebergements {
    border: 2px dotted green;
}*/

/* carte d'un hotel fond blanc, bords arrondis : img = nom - prix - étoiles *//*
.b-card-hebergements__hotel a {
    border: 2px dotted purple;
  }*/

.b-card-hebergements__hotel {
    display: flex;
    background-color: white;
    width: 31%; 
    margin : 15px 15px 0 0;/*espacement entre les card */     
    height: 270px;/*
    border: 2px dashed blue;*/
}

/* picture */
.b-card-hebergements__card-img {
    width: 100%;
    height: 160px;/*
    border: 2px dashed green;*/
}

/* img bords haut arrondis */
.b-card-hebergements__card-img-param {
    display: block;
    width: 100%;
    height: 160px;
    margin: 1px;
    object-fit: cover;/*
    border: 2px solid red;*/
}

/* bloc informations de la carte : libelle, prix, appréciation :  */
.b-card-hebergements__card-infos {
    margin: 5px;/*
    border: 4px double purple;*/
}

/* paramètres des libellé, prix et étoiles dans le css général *//*

/* bloc "Afficher plus" */
.b-card-hebergements__plus {
    padding-top: 40px;
    padding-bottom: 20px;/*
    border: 2px solid blue;*/
}

.b-card-hebergements__plus--param {
    font-size: 15px;
    font-weight: bold;
}
