/* -------------- ASIDE ----------------*/
/*Bloc Les plus populaires (vert) B-Populaire => ex plupop*/
.b-populaire {
    display :flex;
    flex-direction: column;
    width: 31%;
    background-color: #f2f2f2;
    margin-left: 2%;
    padding-left: 1%;/*
    border: 2px solid green;*/
}

/* Bloc Entête titre + icon-stat   B-Populaire__Entete => ex AsideIcone*/
.b-populaire__entete {
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: space-between;/*
    border: 4px double purple;*/
}
/*
.titre_section--populaire {}
*/

/* Bouton Statistique pour le bloc Les plus populaires B-Populaire__icon-stat => ex btn-cote */
.b-populaire__icon-stat {
    padding: 12px;
    font-size:30px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

/*alignement horizontal img + infos */
/* Ensemble Fond + image + Textes + étoiles  */
.b-populaire__card {
    display: flex;
    width: 93%;
    height: 200px;
    margin: 20px 0;
    background-color: white;
    padding-right: 0px;
    padding-left: 2%;
}

.b-populaire__card-img {
    width: 42%;
    height: 100%;
    /*
    margin: 1%;
    /*border: 2px dashed brown;*/
}

.b-populaire__card-img-param {
    display: block;
    width: 100%;
    height: 98%;
    margin: 2%;
    object-fit: cover; 
}

.b-populaire__card-infos {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 15px;/*
    border: 2px dashed blue;*/
}

.b-populaire__card-infos-prix {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    padding-top: 10px;
    padding-left: 1%;/*
    border: 2px dashed green;*/
}

.b-populaire__card-infos-star {
    display: flex;
    width: 100%;
    height: 20%;
    padding-left: 1%;/*
    border: 2px dashed greenyellow;*/
}

.card-infos__name--hotel{
    font-weight: bold;
    font-size: 15px;
}

