/* Modifications valables indifféremment pour tablette ou portable */
/*   < 992 px : tablette ou portable */
@media screen and (max-width: 991px)        
{ 

/*    --------         HEADER    ------------            */
/*    1. CONTAINER => nouvelles dispositions */ 
  .half-container {
    display: flex;
    width:100%;/*
    background-color: yellow;*/
  }

/* menu => quarter-container du header */
  .menu {
    display: flex;
    width: 50%;
    margin: 0%;
    padding: 10px;
  }

  nav ul {
    width: 100%;
  }

/*    2. Centrer le LOGO   */
  .header__picture {
    display:flex;
    align-items: center;
    justify-content: center;
  }

  /*    --------         RECHERCHE    ------------            */
  /* non affichage du bouton Rechercher  */
  .btn-search {
    display: none;
  }

  /* affichage de l'icône glass */
  .btn-search-min {
    position:absolute;
    padding: 10px;
    left:300px;
    background-color: #0065FC;
    color:white;
    cursor:pointer;
    border-radius: 10px;
    border: none;
  }
/*Zone de saisie Recherche de lieu*/
input {
  width: 300px;
  }

  /* au survol de l'icon glass */
  .btn-search-min:hover {
    background-color: grey;
  }

  .filter{
    display: flex;
    flex-wrap: wrap;
  }
  
   /* ---------------------HEBERGEMENTS ---------------------*/
  .s-hebergements {
    flex-direction: column-reverse;
    margin: 0 ;
  }

  .third-container {
    width: 100%;
    }

  .two-third-container {
    width: 100%;
  }
  
  /* gloc les plus populaires fond gris */
  .b-populaire {
    width: 96%;
    margin: 2%;/*
    background-color: red;*/
  }

  .b-hebergements {
    width: 96%;
    margin: 2%;/*
    background-color: green;
    display: flex;
    flex-direction: column;*/
  }

  /*    --------         HEBERGEMENTS  ------------    */

  .b-card-hebergements__hotel {
    width: 100%;/*
    background-color: aquamarine;*/
  }

  .b-card-hebergements__hotel a {
    margin: 10px;
    width: 100%;/*
    background-color: blueviolet;*/
  }
/*
  .b-card-hebergements__card-img {
    border: 2px dashed black;
  }

  .b-card-hebergements__card-infos {
    border: 2px dashed yellow;
  }*/


 /* ---------------------ACTIVITES ---------------------*/
.s-activites {
  display: flex;/*
  border: 2px dashed red;*/
  padding: 10px 10px 10px 10px;
}

.titre_section--activites { 
  margin-bottom: 20px;
}
 
/* bloc global des cartes (vert) */
.s-activites__b-activites {
  display: flex;
  flex-direction: column;/*
  border: 2px dashed green;*/
  padding: 0px;
}


/* particularités des blocs - réinitailisation  */

.bloc2 {
  margin: 0 ;
}

.bloc3 {
  margin-right: 0%;
}

.carte-bas {
  margin-top: 0px;
}

.card-40--haut {
  margin-bottom: 0px;
}

.card-40--bas {
  margin-top: 0px;
}


/* bloc présentant 1 carte ou 2 cartes (marron) */
.b-activites__bloc-quart-activites {
  width: 100%;/*
  border: 2px dashed brown;*/
  padding: 0 2px 0 2px;
}

/* bloc article présentant 1 carte image + label  (bleu) */
.bloc-quart-activites__article {
  width: 100%;
  height: 300px;
  margin-bottom: 5px;/*
  border: 2px solid blue;*/
}

/* bloc article présentant 1 carte sur 1/2 marron (bleu petit) */
.bloc-quart-activites__article--demi {/*
  border: 2px dashed blue;*/
  height: 300px;
}

/* bloc photo de la carte activite */
.bloc-quart-activites__img {
  width: 100%;/*
  border: 2px dashed purple;*/
  height: 250px;
}

/* photo de la carte activite */
.bloc-quart-activites__img--X {
  width: 100%;
  height:250px;
  padding: 0% ;
  align-items: center;
  object-fit: cover; 
}

/* bloc photo de la carte activite sur 1/2 hauteur*/
.card-40--bas .bloc-quart-activites__img--demi  {
  height: 250px;
}

.card-40--haut .bloc-quart-activites__img--demi  {
  height: 250px;
}

.bloc-quart-activites__img--demi {/*
  border: 2px solid purple;*/
  height: 250px;
}

/* photo de la carte activite sur 1/2 hauteur*/
.card-40--bas .bloc-quart-activites__img--S  {
  height: 250px;
}

.card-40--haut .bloc-quart-activites__img--S  {
  height: 250px;
}

.bloc-quart-activites__img--S {
  width: 100%;
  height:250px;
  padding: 0%;
  align-content: center;
  object-fit: cover; 
}

/* libellé de la carte activite*/
.bloc-quart-activites__label {/*
  border: 2px solid yellow;*/
  height: 50px ;
}

  /* ---------------------FOOTER ------------------------*/
  .footer__bloc {
    display: flex;
    width: 100%;
    padding-left: 30px;
  }

  h2 {
    margin-bottom: 0;
  }

}

/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/
/*  --------------- 768 - 992 : TABLETTE -------------------------  */
/*------------------------------------------------------------------*/
@media screen and (max-width: 991px) and (min-width:768px)
{

/*    3. MENU sous ligné */ 
/*    --------         HEADER    ------------            */
  nav li:hover {
    border-bottom: 2px dashed #0065FC;
  }
/*    --------         HEADER + FOOTER   ------------    */
  li:hover {
    font-weight: bolder;
    background-color: #f2f2f2;
  }

  li a:hover {
    color:#0065FC;
  }


}
